{% extends 'base.html' %} {% load crispy_forms_tags %} {% load colorize %} {%block content %}

<!-- Modal -->
<div
  class="modal fade"
  id="addItemModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add Item for Tracking..
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}{{form|crispy}}
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <button
      type="submit"
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#addItemModal"
    >
      Add
    </button>
    <a href="{% url 'update-view' %}"
      ><button type="submit" class="btn btn-info">Update</button></a
    >
  </div>
  <div class="col" style="text-align: right">
    <div>Total No of Items being Tracked: {{ no_of_items }}</div>
    <div>Discounted Items: {{ no_of_discounted }}</div>
  </div>

  {% if items %} {% for item in items %}
  <div class="card mt-3">
    <div class="card-header">
      {{item.name}}
      <a href="{% url 'delete-item' item.pk %}"
        ><button type="submit" class="btn btn-danger" style="text-align: right">
          Delete Item
        </button></a
      >
    </div>
    <div class="card-body">
      <div class="blockquote">
        <div>Current Price (INR): {{item.current_price}}</div>
        <div>Old Price (INR): {{item.old_price}}</div>
        <div>Price difference (INR): {{item.price_difference|colorize}}</div>
        <div>URL: <a href="{{item.url}}">{{item.url}}</a></div>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <h3>No Items are present to track..!</h3>
  {% endif %}
</div>
{% endblock content %}
